<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="assets">
    <!-- 전체 공통 CSS -->
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <link rel="stylesheet" th:href="@{/css/common/table-block.css}">
    <link rel="stylesheet" th:href="@{/css/common/pagination.css}">
    <link rel="stylesheet" th:href="@{/css/common/modal-alert.css}">

    <!-- 관리자 공통 CSS -->
    <link rel="stylesheet" th:href="@{/css/admin/common/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/admin/common/admin-layout.css}">
    <link rel="stylesheet" th:href="@{/css/admin/common/summary-card.css}">

    <!-- 전체 공통 JS -->
    <script defer th:src="@{/js/common/api.js}"></script>
    <script defer th:src="@{/js/common/modal-alert.js}"></script>
    <script type="module" th:src="@{/js/common/pagination.js}"></script>

    <!-- 관리자 공통 JS가 생기면 여기에 추가 -->
    <!-- <script type="module" th:src="@{/js/admin/common/admin.js}"></script> -->
</head>

</html>